@charset "utf-8";

/* レイアウト */
html{
    margin: 0;
    padding: 0;
    overflow: auto;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font: Regular 28px/42px Meiryo;
    overflow: hidden;
	  min-width: 1680px;
}

header{
    background:#3C4767;
    height:  75px;
    width:  100%;
    margin: 0;
    padding: 0;
}

#boxContainer {
  margin: 0;
  padding: 0;
  display: flex;
}

#box1 {
  margin: auto auto auto 41px;
}

img.top-logo {
  height:  73px;
  width:  154px;
}

/* アコーディオン */
#box2 {
  font-size: 14px;
  margin: 0 71px 0 auto;
  width: 132px;
  height: 75px;
  font: Regular 28px/42px Meiryo;
  z-index: 2;
}

.accordion-container {
  position: relative;
  border-top: none;
  outline: 0;
  cursor: pointer;
}

.accordion-container .accordion-title {
  display: block;
  position: relative;
  color: #fff;
  background: #3C4767;
  width: 195px;
  height: 75px;
  margin: 0 auto 0 -26px;
}

.accordion-title {
  margin: 0 auto 0 50px;
  text-align: center;
  line-height: 80px;
}

.accordion-container .accordion-title:hover,
.accordion-container .accordion-title:active,
.accordion-container .content-entry.open .accordion-title {
  background:#3C4767;
  color: white;
}

.accordion-container .accordion-title:hover i:before,
.accordion-container .accordion-title:hover i:active,
.accordion-container .content-entry.open i {
  color: white;
}

.accordion-title:after {
  content: "";
  position: absolute;
  padding: auto 0 auto auto;
  right: 3px;
  top:  41%;
  transition: all 0.2s ease-in-out;
  display: block;
  width: 8px;
  height: 8px;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.accordion-title.open:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 46%;
}

.accordion-content {
    display: none;
    text-align:center;
    background: white;
    width: 287px;
    font-size: 18px;
    border: 1px solid #6C6C6C;
    line-height: 83px;
  }

.accordion-content-home {
    border-bottom: 1px solid #6C6C6C;
    background-color: white;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
  }

.accordion-content-home:hover {
    background-color: #dc543c;
}

a.a-home {
    color: #6C6C6C;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
    display: block;
}

a.a-home:hover {
    color: white;
}

.accordion-content-profile {
    border-bottom: 1px solid #6C6C6C;
    color: #6C6C6C;
    background-color: white;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
}

.accordion-content-profile:hover {
    background-color: #dc543c;
}

a.a-profile {
    color: #6C6C6C;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
    display: block;
}

a.a-profile:hover {
    color: white;
}

.accordion-content-logout {
    background-color: white;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
}

.accordion-content-logout:hover {
    background-color: #dc543c;
}

a.a-logout {
    color: #6C6C6C;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
    display: block;
}

a.a-logout:hover {
    color: white;
}

  /* アイコン */
#box3 {
    margin: 20px 41px 20px 10px;
    height: 35px;
    width: 35px;
}

.top-image {
    margin: 28px auto 28px 17px;
}

.mr-2 {
    width:  35px;
    height: 35px;
    border-radius: 50%;
    background-position: left top;
}

/* サイドバー */
#row{
    display: flex;
    flex-flow: row wrap;
}
#container{
    flex: 0 0 81%;
}
#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #6C6C6C;
    font-size: 14px;
    height:  auto;
    min-height:  839px;
    width:  20%;
    vertical-align: bottom;
    box-sizing: border-box;
    float: left;
}


#side-bar-confirm {
    border-bottom: 1px solid #D7D7D7;
}

#side-bar-confirm-follows {
    display: flex;
}

.side-name {
    margin: 10px 100px auto 10px;
    color: #6C6C6C;
}

.side-follow {
    margin: 10px 100px auto 22px;
    color: #6C6C6C;
}

#side-bar-confirm-follow-count {
  margin: 34px 0 auto 0;
  color: #6C6C6C;
  width: 84px;
}

.side-follow-margin {
  margin-left: 15px;
}

#side-bar-confirm-follow-list {
  margin: 13px 25px auto 126px;
}

#side-bar-confirm-followers {
  display: flex;
}

#side-bar-confirm-follower {
  margin: 10px 111px auto 22px;
  color: #6C6C6C;
}

#side-bar-confirm-follower-count {
  margin: 8px 10px auto 19px;
  color: #6C6C6C;
}

#side-bar-confirm-follower-list {
  margin: 19px 25px 0px 125px;
}

#side-bar-confirm-search {
  margin: 17px 75px auto 75px;
}

.side-btn {
  display: inline-block;
  height:  43px;
  width:  138px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 5px;
  line-height: 43px;
}

.side-btn-url {
  color: #FFFFFF;
  background-color: #3C4767;
  border-color: #3C4767;
  margin: 10px 5px 25px auto;
}

/* 4.1 投稿フォームの設置 */
.container {
    height:  auto;
    min-height:  750px;
    width:  80%;
    vertical-align:  bottom;
    box-sizing: border-box;
    float:  left;

}

.row {
    display: flex;
    flex-flow: row wrap;
    width: 80%;


}

.form-group {
  display: flex;
  width:  1360.5px;
  vertical-align:  left;
  box-sizing: border-box;
  border-bottom: 5px solid #D7D7D7;
}

.form-group-image {
  margin: 28px 17px 28px 17px;
}

.rounded-circle {
  width:  51px;
  height: 51px;
  border-radius: 50%;
  background-position: left top;
  /* border: 1px solid #81E5FF; */
  border: 1px solid #afafb0;
  margin: 18px;
}

.form-group-text {
  width:  65%;
}

.form-control {
  resize: none;
  width: 700px;
  color: #6C6C6C;
  font-size: 18px;
  margin-top: 20px;
  }

::placeholder {
  color: #D7D7D7;
;
}

.form-group-icon {
  margin: auto 203.5px 12.5px auto;
}

/* 5.1 入力フォームの設置 */

.container-search {
    height:  auto;
    min-height:  750px;
    width:  80%;
    vertical-align:  bottom;
    box-sizing: border-box;
    float:  left;
    padding-right: 20px;
}

.search-form-group {
    /* display: flex; */
   width:  1680px;
  vertical-align: left;
  box-sizing: border-box;
  border-bottom: 5px solid #D7D7D7;
  height: 152px;
  /* padding-right: 769.5px; */
  }

.search-forms {
  display: flex;
  width:  1360.5px;

}

.search-form {
  display: flex;
  height: 50px;
  width: 450px;
  margin-top: 40px;
  margin-left: 80px;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid #707070;
  color: #6C6C6C;
}

.my-search {
  color: #FFFFFF;
  background-color: #3C4767;
  margin: 45px auto auto 15px;
  display: inline-block;
  height: 45px;
  width: 40px;
  font-size: 25px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 5px;
}

.search-name-group {
  display: flex;
}

.search-name {
  margin: 44px auto auto 115px;
  color: #6C6C6C;
  font-size: 18px;
}

.search-name-search {
  margin: 44px auto auto 0px;
  color: #6C6C6C;
  font-size: 18px;
  font: Regular 28px/42px Meiryo;
}

/* 5.2.1 ユーザー検索の結果一覧を表示 */
.search-list {
  display: flex;
}

.search-list-image {
  margin: 28.5px 0px 0px 85px;
}

.search-list-name {
  margin: 44px auto 0px 15px;
  color: #6C6C6C;
  font-size: 18px;
  font: Regular 28px/42px Meiryo;
}

.search-list-follow {
  margin: 32.5px 250px 0px auto;
}

/* search-btn-follow1 search-btn-primary-follow1 */
/* search-btn-follow2 search-btn-primary-follow2 */

/* 4.x.1 モーダルの設置 */
/* 編集 */
.tweet-menu {
  display: flex;
  width: 1360.5px;
  margin-left: 1200px;
}

.modal-main{
  display: none;
}

.inner {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  color: #666666;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.inner-content{
  text-align: center;
  margin: 0;
  padding: 0;
}

/* 4.x.2 レイアウトの修正 */
.tweets-top {
  width: 1360.5px;
  vertical-align:  left;
  box-sizing: border-box;
  border-bottom: 1px solid #D7D7D7;
  padding-bottom: 15px;
}

.tweet-timelines {
  display: flex;
  width: 1360.5px;
}

  .top-image2 {
    margin: 25.5px 28px auto 43px;
  }

.timelines {
  margin: 30.5px auto auto 0px;
  text-align: left
}

  .tweets-top-username {
  font-size: 14px;
  color: #6C6C6C;
}

  .tweets-top-text {
    font-size: 18px;
    color: #6C6C6C;
    margin-top: 10px;
  }

    .tweets-top-time {
    font-size: 14px;
    color: #7D7D7D;
    margin: 30.5px 30.5px auto auto;
  }

  .delete-btn{
margin-left: 30px;
  }

  /* 8 プロフィール */
.profile-card {
  display: flex;
}

.profile-image {
  margin: 15px 27px auto 116px;
}

.profile-card-body {
margin-top: -20px;
}

  .profile-form-group {
    margin-bottom: 15px;
  }

    .profile-text-md-right {
    margin-left: 115px;
    font-size: 20px;
    color: #6C6C6C;
  }

    .profile-username {
      margin-top: 75px;
    }

    .profile-form-control {
    margin-top: -5px;
    margin-left: 370px;
    display: block;
    width: 280px;
    height: 30px;
    padding: 6px 6px;
    font-size: 20px;
    line-height: 1.42857143;
    color: #6C6C6C;
    background-color: #F2F2F2;
    background-image: none;
    border:none;
    border-bottom: 1px solid #707070;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }

    .profile-form-control-password {
    margin-top: -5px;
    margin-left: 370px;
    display: block;
    width: 280px;
    height: 30px;
    padding: 6px 6px;
    font-size: 20px;
    line-height: 1.42857143;
    color: #6C6C6C;
    background-color: white;
    background-image: none;
    border:none;
    border-bottom: 1px solid #707070;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

    .profile-form-control-password-raw {
    margin-top: -5px;
    margin-left: 370px;
    display: block;
    width: 280px;
    height: 30px;
    padding: 6px 6px;
    font-size: 20px;
    line-height: 1.42857143;
    color: #6C6C6C;
    background-color: #F2F2F2;
    background-image: none;
    border:none;
    border-bottom: 1px solid #707070;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }

    .profile-form-control-bio {
    margin-top: -5px;
    margin-left: 370px;
    display: block;
    width: 280px;
    height: 72px;
    padding: 6px 6px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #6C6C6C;
    background-color: #F2F2F2;
    background-image: none;
    border:none;
    border-bottom: 1px solid #707070;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }

.align-items-center {

}
/* .col-form-label2 {
     background: #000;
     color: #fff;
     cursor: pointer;
     padding: 15px 30px;
     margin: 0 10px 0 0;
     display: inline-block;
} */

input[type="file"] {
   display: none;
}

  .profile-form-control-images {
    margin-top: -5px;
    margin-left: 370px;
    display: none;
    width: 326px;
    height: 111px;
    padding: 6px 6px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #6C6C6C;
    background-color: #F2F2F2;
    background-image: none;
    border:none;
    border-bottom: 1px solid #707070;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

  }

  .profile-btn-primary {
  color: #fff;
  background-color: #7B9979;
}

  .profile-btn {
    display: inline-block;
    margin: 30px auto auto 610px;
    width: 138px;
    height: 43px;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 5px;
  }
